#shaqo_doon_jobs {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  /* color: #bdbdbd; */
  color: #838383; }

.shaqo_doon_job {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  min-height: 111px;
  margin: 0px auto;
  padding: 20px 58.5px;
  border-bottom: 1px solid #bdbdbd;
  margin: 0px auto; }

.shaqo_doon_job_description {
  /* padding-left: 20px; */
  padding-right: 40px; }

.shaqo_doon_job_title {
  margin: 0;
  padding-top: 10px; }

.shaqo_doon_location {
  margin-top: 10px; }

.shaqo_doon_location img {
  width: 30px;
  vertical-align: middle; }

.shaqo_doon_job_company {
  margin-right: 10px; }

img.shaqo_doon_img_location {
  margin-top: 4px; }

.shaqo_doon_location p {
  display: inline;
  line-height: 30px; }

.shaqo_doon_details {
  display: grid;
  place-items: center; }

a.shaqo_doon_details_link {
  color: white;
  background-color: #b0cb1f;
  border-radius: 3px;
  width: 100%;
  height: 24px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  font: normal normal 400 20px/24px "Roboto", sans-serif;
  transition: all ease 200ms; }

a.shaqo_doon_details_link:hover {
  background-color: #f98847;
  transition: all ease 200ms; }

.shaqo_doon_powered_by {
  text-align: center;
  margin-top: 20px;
  /* margin-left: -150px; */ }

.shaqo_doon_powered_by p {
  display: inline;
  /* margin-right: 0px; */ }
